Kraken/node_modules
Kraken/.Kraken
Kraken/reports
Kraken/screenshots

Cypress/node_modules
Cypress/cypress/screenshots
Cypress/cypress/videos
*.mp4
# Node

npm-debug.log
yarn-error.log
/Kraken/.kraken
